body {
  margin: 0px;
}
@font-face {
  font-family: "opensans-bold";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-regular";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 360px) {
  header {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    height: 640px;
    background-size: cover;
    display: flex;
  }

  
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;  
  position: absolute;
  top: 30px;
  right: 15px;
  width: 22px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
}
.menu__btn > span::before {
  content: '';
  top: -7px;
}
.menu__btn > span::after {
  content: '';
  top: 7px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 80px;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  text-align: center;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: black;
  text-transform: UPPERCASE;
 font-family: "opensans-regular";
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #b59f5b;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

  .header-logo {
    width: 270px;
    text-align: center;
    margin: auto;
  }
  h1 {
    font-family: "opensans-bold";
    color: white;
    text-transform: UPPERCASE;
    font-size: 19px;
    width: 250px;
    
    margin-top: 40px;
  }

  h2 {
    margin: auto;
    font-family: "opensans-bold";
  }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    width: 65px;
    border-bottom: 5px solid #b59f5b;
    opacity: 0.4;
  }
  .nowinTrend {
    height: 95px;
    display: flex;
    text-transform: UPPERCASE;
    font-size: 12px;
  }

  .trend {
    display: flex;
    position: relative;
    width: 100%;
    height: 230px;
    margin-top: 1px;
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg");
  }
  .trend:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
  }
  .polosa {
    display: flex;
    flex-direction: column;
  }
  .text_block {
    position: relative;
    z-index: 2;
    border: 3px solid #b59f5b;
    width: 100%;
    margin: 85px 15px 15px 15px;
  }
  .slider-news-name {
    text-transform: UPPERCASE;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    font-family: "opensans-regular";
    color: white;
  }
  .thematics {
    font-family: "opensans-bold";
    padding-top: 40px;
  }
  .Thema {
    text-transform: UPPERCASE;
    padding-left: 20px;
    font-size: 10px;
    color: #b59f5b;
  }
  
  
  
  
  
  
  .news-image {
    width: 100%;
  }
  .ThemaInNews {
    text-transform: UPPERCASE;
    font-size: 10px;
    color: #b59f5b;
    font-family: "opensans-bold";
  }
  
  
  .news-name {
  font-family: opensans-bold;
  
  font-size: 12px;
  text-transform: uppercase;
  
}

.news-card {
  display: flex;
  flex-wrap: wrap;
  
  padding: 15px;
  margin-top: 10px;
  
}
  .news-content {
font-family: "opensans-regular";
    font-size: 12px;
  }
 .news-content::after {
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    border-bottom: 3px solid grey;
    opacity: 0.2;
  }




.news-date {
  display: inline;
  font-family: opensans-regular;
  color: #888888;
  font-size: 12px;
}
.news-author {
  display: inline;
  font-family: opensans-bold;
  font-size: 12px;
  margin-left: 16px;
}
  
  .aside-news-title {
    margin: auto;
    font-family: "opensans-bold";
  }
  .aside-news-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    width: 65px;
    border-bottom: 5px solid #b59f5b;
    opacity: 0.4;
  }
   .last-posts-header{
    height: 50px;
    display: flex;
    text-transform: UPPERCASE;
    font-size: 16px;
     
  }
  .last-news {
  padding: 5%;
  
}
.last-post {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
  margin-top: 22px;
  margin-left: 0px;
}
.last-post-list {
  box-sizing: border-box;
  width: 190px;
  margin-left: 10px;
}
.last-post-link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-family: opensans-bold;
  text-transform: UPPERCASE;
}
  a {
    text-decoration: none;
    color: black;
  }
  .search-form {
  display: flex;
  margin-top: 45px;
}

.search-field {
  font-family: opensans-regular;
  width: 300px;
 margin: auto;
  line-height: 40px;
  background: #f4f7f6;
  border: none;
  font-size: 13px;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 45px;
}

.button {
  width: 50px;
  height: 50px;
  margin-left: 0;
  border: none;
  background: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg)
    no-repeat;
  background-color: #b59f5b;
  background-size: 45%;
  background-position: center;
}
  .subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.button-subscribe {
  margin-top: 10px;
  padding: 10px 35px;
  border: none;
  background-color: #b59f5b;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.email-field {
  font-family: opensans-regular;
  box-sizing: border-box;
  
  line-height: 50px;
  background: #f4f7f6;
  border: none;
  font-size: 13px;
  padding-left: 15px;
  margin-top: 20px;
}

.email-button {
  box-sizing: border-box;
  margin-top: 17px;
  width: 100%;
  height: 50px;
  background-color: #b59f5b;
  border: none;
  text-align: center;
  font-family: opensans-bold;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 25px;
}
  
  .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 0;
  margin-top: 25px;
}

.tags-container {
  display: block;
  list-style-type: none;
  font-family: opensans-bold;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 10px;
  text-transform: uppercase;
  padding-left: 11px;
  padding-right: 11px;
  border: 3px solid #f4f3f1;
  margin-bottom: 7px;
  margin-left: 5px;
}
  .categories-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.category-type {
  position: relative;
  font-family: opensans-bold;
  font-size: 14px;
  line-height: 47px;
  text-transform: capitalize;
}

.category-type::after {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  border-bottom: 1px solid #eeeeee;
}

.categories-link {
  text-decoration: none;
  color: black;
}
  .amount {
  font-family: opensans-bold;
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  margin-left: 5px;
  vertical-align: super;
}
  .social-links {
  display: flex;
  height: 80px;
  background-color: #f4f7f6;
}

.image-box {
  display: flex;
  margin: auto;
  list-style-type: none;
  padding: 0px;
}

.image-list {
  margin-left: 28px;
}

.social-image {
  box-sizing: border-box;
  height: 21px;
  width: 21px;
}

.image-list:first-child {
  margin-left: 0px;
}

.copyright {
 display:flex;
  height: 100px;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
  font-family: opensans-bold;
  font-size: 12px;
  margin: auto;
}
}

@media (min-width: 361px) and (max-width: 720px) {
  header {
    height: 640px;

    background-color: blue;
  }
  .nowinTrend {
    height: 95px;
    display: flex;
    text-transform: UPPERCASE;
    font-size: 12px;
  }
  h2 {
    margin: auto;
  }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    width: 65px;
    border-bottom: 5px solid #b59f5b;
    opacity: 0.4;
  }
  .trend {
    display: flex;
    position: relative;
    width: 49%;
    margin: 1px;
    height: 250px;
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg");
  }
  .trend:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
  }
  .polosa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .text_block {
    position: relative;
    z-index: 2;
    border: 5px solid #b59f5b;
    width: 100%;
    margin: 100px 15px 15px 15px;
  }
  .slider-news-name {
    text-transform: UPPERCASE;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    color: white;
  }
  .thematicsInSlider {
    padding-top: 40px;
  }
  span {
    text-transform: UPPERCASE;
    padding-left: 20px;
    font-size: 10px;
    color: #b59f5b;
  }
}

@media (min-width: 720px) {
  header {
    height: 400px;

    background-color: blue;
  }
  .nowinTrend {
    height: 95px;
    display: flex;
    text-transform: UPPERCASE;
    font-size: 12px;
  }
  h2 {
    margin: auto;
  }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    width: 65px;
    border-bottom: 5px solid #b59f5b;
    opacity: 0.4;
  }
  .trend {
    display: flex;
    position: relative;
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg");
    width: 25%;
    height: 250px;
    margin-right: 1px;
  }
  .trend:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
  }
  .polosa {
    display: flex;
  }
  .text_block {
    position: relative;
    z-index: 2;
    border: 5px solid #b59f5b;
    width: 100%;
    margin: 80px 15px 15px 15px;
  }
  .slider-news-name {
    text-transform: UPPERCASE;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    color: white;
  }
  .thematics {
    padding-top: 40px;
  }
 
  }
}

